@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
  }
::-webkit-scrollbar{
    width: 5px;
    position: absolute;
    height: 0;
}
::-webkit-scrollbar-track{
    background-color: #888888;
    border-radius: 10px;
}
::-webkit-scrollbar-track:hover{
    background-color: #777777;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #444444;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #333333;
}
/************* Header.ejs ***************/
/************** Media For landscape *************/
@media (orientation:landscape) and (min-width:700px){
    html{
        width: 100vw;
    }
body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    .head-navbar{
        width: 100vw;
        height: 70px;
        border: 1px solid #ededed;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: sticky;
        top: 0;
        left: 0;
        background-color: white;
    }
/* logo */
        .logo-container{
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            height: inherit;
            flex-grow:1;
            /* background-color: burlywood; */
        }
        .header-image-conatainer{
        display: flex;
        align-items: center;
        flex-direction: row;
       
        }
            .dbb-logo{
                max-width: 60px;
                max-height: 60px;
                margin-left: 20px;
                margin-bottom: 15px;
            }
            .header-website-name{
            display: flex;
            align-items: center; 
            font-family: 'Times New Roman', Times, serif;
            color: #111111;
            margin-left: 8px;
            
            }.header-website-name h1{
                margin-right: 5px;
            }
            .header-website-name p{
                margin-left: 5px;
                color: #333333;
                font-size: 0.8rem;
            }
      
/* form container */
        .header-form{
            margin-left:10px;
            margin-right: 10px;
            /* min-width: 680px; */
            flex-grow:6;
            /* background-color: red; */
            }
            .header-form form{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                /* background-color: royalblue; */
            }
            .datalist-input-span{
                flex-grow: 6;
            }
                #bloodType-input{
                width: 100%;
                /* min-width: 350px; */
                height:45px;
                padding: 0 10px;
                border-radius: 8px 0 0 8px;
                border:1px solid #bbbbbb;
                outline: none;
                color: #e60000;
                }#bloodType-input:hover{cursor: pointer;}
                /* .head-submit-btn {

                } */
                .head-submit-btn{
                    flex-grow: 1;
                    justify-content: center;
                }
                .head-submit-btn input{
                min-width: 100%;
                /*  */
                height:45px;
                border-radius:0 8px 8px 0;
                padding: 0 10px;
                border: none;
                background-color: black;
                color: white;
                font-size: 1rem;
                outline: none;
                }
                .head-submit-btn input:hover{cursor: pointer;}
                datalist{
                    color: red;
                }

/* login signup */
        .login-signup-container{
            display: flex;
            flex-direction: row;
            flex-grow: 2;
            align-items: center;
            justify-content: center;
            padding:auto 20px;
            /* background-color: green; */
        }
            .login{
                background-color:white;
                padding:6px 6px;
                border-radius: 6.5px;
                text-decoration: none;
                color: #999999;
                opacity: 0.8;
                margin-left: 15px;
                font-weight: 100;
                font-size: 1.5rem;
            }.login:hover{cursor: pointer;color: #ff4571;opacity: 1;}
            .login-signup-container p{
                color: #555555;
                margin:auto 5px;
            }
            .signup{
                padding:5px 12px;
                color:white ;
                border:1px solid#fa154b;
                background-color: #fa154b;
                border-radius: 6.5px;
                text-decoration: none;
                margin-left: 5px;
                font-weight: 300;
            }.signup:hover{cursor: pointer;}

/********** Index.ejs *********/
/* legend image */
.legend-container{
    width: 100vw;
    height: 500px;
    min-width: 800px;
    display: flex;
    align-items: center;
   flex-direction: row;
   box-shadow: 1px 1px 2px #999999;
}
    .legend-txt-container{
        display: flex;
        flex: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        /* background-color: blue; */
    }
        .legend-txt-container h1,h3,a{
            line-height: 30px;
        }
        .create-account{
            padding: 10px;
        }
        .legend-txt-container h1{
            font-size: 2.6rem;
            font-weight: 900;
            letter-spacing: 1px;
        }
        .legend-txt-container h3{
            color: #222222;
        }
    
    .legend-img-container{
        flex: 2.5;
        justify-content: center;
        align-items: center;
    }
    .legend-img{
        width:350px;
    }

.underpic-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666666;
    box-shadow: 2px 2px 4px #666666;
}
.underpic-detail p{
    color:#bbbbbb;
    font-weight: 100;
    font-size: 0.9rem;

}
    .h11{
        height: 2000px;
    }

}/********* Media landscape ends here **********/