
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
  }
::-webkit-scrollbar{
    width: 5px;
    position: absolute;
    height: 0;
}
::-webkit-scrollbar-track{
    background-color: #888888;
    border-radius: 10px;
}
::-webkit-scrollbar-track:hover{
    background-color: #777777;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #444444;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #333333;
}
/**********Body********/
body{
    margin: 0;
    padding: 0;
    background-color: #fbfcf9;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/******Header Navbar*******/
.head-navbar{
    width: 100vw;
    height: 70px;
    border: 1px solid #ededed;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}
/* logo */
    .logo-container{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        height: inherit;
        flex-grow:5;
        /* background-color: burlywood; */
    }
    .header-image-conatainer{
    display: flex;
    align-items: center;
    flex-direction: row;
   
    }
        .dbb-logo{
            max-width: 60px;
            max-height: 60px;
            margin-left: 20px;
            margin-bottom: 15px;
        }
        .header-website-name{
        display: flex;
        align-items: center; 
        font-family: 'Times New Roman', Times, serif;
        color: #111111;
        margin-left: 8px;
        
        }.header-website-name h1{
            margin-right: 5px;
        }
        .header-website-name p{
            margin-left: 5px;
            color: #333333;
            font-size: 0.8rem;
        }
        .signup-header-home-btn{
            display: flex;
            flex-direction: row;
            flex-grow: 5;
            /* background-color: red; */
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .signup-header-home-btn .home{
            /* display: flex;
            flex-direction: row; */
            text-decoration: none;
            color: black;
        }
        .signup-header-home-btn .home i{
            font-size: 1rem;
            margin-right: 5px;
        }
        .signup-header-home-btn p{
            color: #999999;
            font-size: 15px;
            margin: auto 10px;
        }
        .signup-header-home-btn .signup-btn,.signup-header-home-btn .login-btn{
            color: dodgerblue;
            text-decoration: none;
        }.signup-header-home-btn .signup-btn:hover{
          color:rgb(40, 103, 167) ;
          transition:color ease-in-out 500ms;
        }
        .fa-sign-in-alt{
          margin-right: 5px;
        }
/********* Sigup form ************/
.signupform form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 500px;
  margin: 50px auto 5rem;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
 .signupform h2 {
    margin:0 0 30px 0;
    padding:10px;
    text-align:center;
    font-size:2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    /* color:darken(#e5e5e5, 50%); */
    border-bottom:solid 1px #e5e5e5;
  }
  .signupform p {
    margin: 0 0 1.2rem 0;
    font-size: 1rem;

    /* position: relative; */
  }
  .signup-name{
    display: flex;
    flex-direction: row;
}
.signup-name p:nth-child(1){
   margin-right: 10px;     
}
  .signupform input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
  
  .signupform input[type="text"],.signupform #bloodType,
  .signupform input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    padding: .8em .5em;
    border-radius: 2px;
  }
  .signupform input[type="text"]:focus,.signupform #bloodType:focus,
  .signupform input[type="password"]:focus {
    background: rgba(241, 241, 241, 0.5);
    border-color: #999999;
    box-shadow: 1px 1px 2px #dedede;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999999;
    opacity:0.6; /* Firefox */
    z-index: 0;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
    z-index: 0;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
    z-index: 0;
  }

  .signupform #password-not-matched,.signupform #password-validation-check,{
    padding: 2px 5px;
    color: #666;
    display: none;
    /* position: relative; */
  }
  #email_validation_check h6{
    background: #F9A5A5;
    color: red;
    border: 1px 0 1px 0 solid black;
    /* display: none; */
  }
  .nextstep,.signupform input[type="submit"] {
    background-color:rgb(43, 185, 102);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height:2em;
    margin: 2em 0 3rem;
    outline: none;
    padding: 8px 0;
    text-shadow: 0 1px rgb(24, 122, 7);
  }
  .nextstep{
    background-color: grey;
    opacity: 0.5;
  }
  .signupform label{
      font-size: 0.8rem;
  }

.already-a-member{
    /* margin: 0px auto; */
    color: #555555;
}

.already-a-member a{
    text-decoration: none;
    color: dodgerblue;
}

/* Login Form */
.loginform form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 500px;
    margin: 50px auto 5rem;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
  }
  .loginform h2 {
    margin:0 0 30px 0;
    padding:10px;
    text-align:center;
    font-size:2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    /* color:darken(#e5e5e5, 50%); */
    border-bottom:solid 1px #e5e5e5;
  }
  .loginform p {
    margin: 0 0 1.2rem 0;
    font-size: 1rem;

    /* position: relative; */
  }
  .loginform input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
  
  .loginform input[type="text"],
  .loginform input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    padding: .8em .5em;
    border-radius: 2px;
  }
  .loginform input[type="text"]:focus,
  .loginform input[type="password"]:focus {
    background: #fff;
    box-shadow: 1px 1px 2px #dedede;
  }
  .loginform input[type="submit"] {
    box-shadow: 0 3px 0 0 rgb(54, 107, 160);
    background-color:rgb(71, 141, 211);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height:2em;
    margin: 2em 0 3rem;
    outline: none;
    padding: 8px 0;
    text-shadow: 0 1px #68B25B;
  }
  .signupform label{
      font-size: 0.8rem;
  }

  .not-a-member{
    /* margin: 0px auto; */
    color: #333333;
}

.already-a-member a{
    text-decoration: none;
    color: dodgerblue;
}

/********Second step signup*********/

.step-two-signup-form form {
  background: rgb(32, 24, 24);
  padding: 4em 4em 2em;
  max-width: 500px;
  margin: 50px auto 5rem;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
.first-step{
  display:block;
}
.second-step{
  display: none;
}
.goback{
  display: none;
  cursor: pointer;
  color: rgb(40, 120, 240);
}
#address input{
  margin-bottom: 12px;
}
.checkbox-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin-top: 50px; */
  /* background-color: brown; */
}
#checkbox{
  height: 20px;
  width: 20px;
  outline: none;
}
.checkbox-container i{
  margin-left: 12px;
}