<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="legend-img-container">
<img class="legend-img" src="/static/images/5.png" alt="blood donor art pic">
</div>

<%- include('../partials/footer'); -%>