<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="legend-container">
    <div class="legend-txt-container">
        <h1>When you last gave blood</h1>
        <h3>let other's to know that you want to help them! </h3>
        <a class="signup create-account" href="/user/signup">Create an account</a>
    </div>
     <div class="legend-img-container">
        <img class="legend-img" src="/static/images/savelife3.png" alt="blood donor art pic">
    </div>
</div>
<!-- <div class="underpic-detail">
    <p>save your information on your account and help needer's find you fast!</p>
</div> -->

<h1 class="h11"> content</h1>

<%- include('../partials/footer'); -%>