<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="legend-img-container">
<img class="legend-img" src="/static/images/5.png" alt="blood donor art pic">
</div>
<div class="underpic-detail">
    <p>save your information on your account and help needer's find you fast!</p>
</div>

<!-- <h1>content</h1> -->

<%- include('../partials/footer'); -%>