<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="legend-container">
    <div class="legend-txt-container">
        <h1>When you last gave blood</h1>
        <h3>let other's to know that you want to help them! </h3>
        <a class="signup create-account" href="/user/signup" title="Sign up">I want to donate blood</a>
    </div>
     <!-- <div class="legend-img-container">
        <img class="legend-img" src="/static/images/savelife3.gif" alt="blood donor art pic">
    </div> -->
</div>
<!-- <div class="underpic-detail">
    <p>save your information on your account and help needer's find you fast!</p>
</div> -->

<div class="hrtb-container">
    <h1>i'm parent</h1>
    <div class="hrtb-contnt">
        <h3>i am child</h3>
    </div>
</div>

<%- include('../partials/footer'); -%>