<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="legend-container">
    <div class="legend-txt-container">
        <h1>When you last gave blood</h1>
        <h3>let other's to know that you want to help them! </h3>
        <a class="signup create-account" href="/user/signup" title="Sign up">I want to donate blood</a>
    </div>
     <!-- <div class="legend-img-container">
        <img class="legend-img" src="/static/images/savelife3.gif" alt="blood donor art pic">
    </div> -->
    <div class="arrow-container">
        <i class="far fa-long-arrow-down"></i>
    </div>
</div>
<!-- <div class="underpic-detail">
    <p>save your information on your account and help needer's find you fast!</p>
</div> -->

<div class="hrtb-container">
    <h3>Our Heroes</h3>
    <hr style="opacity: 0.3;">
    <div class="hrtb-content">

        <div class="hrtb">
            <div class="hrtb_segment_up">
                <div class="picture">
                    <img src="/static/images/fahad.jpg" alt="">
                </div>
                <div class="nmadr_details">
                    <h3>Fahad Kiyani</h3>
                    <h6> <i class="fal fa-map-marker-alt"></i> Gujar khan</h6>
                    <h4>Blood type: AB</h4>
                    <p>
                        Last donated: 1 week ago
                    </p>
                    <p>
                        Willing to donate again: Yes
                    </p>
                    <p>
                    Cell Number: +92-300-123-456 
                    </p>
                </div>
            </div>
            <div class="hrtb_segment_down">
                <a href="#" class="button_1">Message</a>
                <div class="p"><p><i class="fas fa-circle"></i>Offline</p></div>
                <!-- <a href="#" class="button_2"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="button_3"><i class="fab fa-whatsapp-square"></i></a> -->
            </div>
        </div>
<!-- second hrtb starts beneath -->
<div class="hrtb">
    <div class="hrtb_segment_up">
        <div class="picture">
            <img src="/static/images/uzair.jpg" alt="">
        </div>
        <div class="nmadr_details">
            <h3>Uzair Farooq</h3>
            <h6> <i class="fal fa-map-marker-alt"></i> Gujar khan</h6>
            <h4>Blood type: A+</h4>
            <p>
                Last donated: 1 week ago
            </p>
            <p>
                Willing to donate again: Yes
            </p>
            <p>
            Cell Number: +92-300-123-456 
            </p>
        </div>
    </div>
    <div class="hrtb_segment_down">
        <a href="#" class="button_1">Message</a>
        <div class="p"><p><i class="fas fa-circle"></i>Offline</p></div>
        <!-- <a href="#" class="button_2"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="button_3"><i class="fab fa-whatsapp-square"></i></a> -->
    </div>
</div>
<!-- third hrtb starts beneath -->
<div class="hrtb">
    <div class="hrtb_segment_up">
        <div class="picture">
            <img src="/static/images/arslan.jpg" alt="">
        </div>
        <div class="nmadr_details">
            <h3>Raja Arslan Ali</h3>
            <h6> <i class="fal fa-map-marker-alt"></i> Gujar khan</h6>
            <h4>Blood type: A-</h4>
            <p>
                Last donated: 1 week ago
            </p>
            <p>
                Willing to donate again: Yes
            </p>
            <p>
            Cell Number: +92-300-123-456 
            </p>
        </div>
    </div>
    <div class="hrtb_segment_down">
        <a href="#" class="button_1">Message</a>
        <div class="p"><p><i class="fas fa-circle"></i>Offline</p></div>
        <!-- <a href="#" class="button_2"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="button_3"><i class="fab fa-whatsapp-square"></i></a> -->
    </div>
</div>
<!-- fourth hrtb starts beneath -->
<div class="hrtb">
    <div class="hrtb_segment_up">
        <div class="picture">
            <img src="/static/images/saad.jpg" alt="">
        </div>
        <div class="nmadr_details">
            <h3>Saad kiani</h3>
            <h6> <i class="fal fa-map-marker-alt"></i> Gujar khan</h6>
            <h4>Blood type: O+</h4>
            <p>
                Last donated: 1 week ago
            </p>
            <p>
                Willing to donate again: Yes
            </p>
            <p>
            Cell Number: +92-300-123-456 
            </p>
        </div>
    </div>
    <div class="hrtb_segment_down">
        <a href="#" class="button_1">Message</a>
        <div class="p"><p><i class="fas fa-circle"></i>Offline</p></div>
        <!-- <a href="#" class="button_2"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="button_3"><i class="fab fa-whatsapp-square"></i></a> -->
    </div>
</div>

    </div>
</div>

<%- include('../partials/footer'); -%>