<%- include('../partials/newsignuphead'); -%>
<div class="head-navbar">
    <div class="logo-container">
        <div class="header-image-conatainer"><img class="dbb-logo" src="/static/images/dbb logo v0.2.png"   alt="Digital blood bank logo"></div>
            <div class="header-website-name"><h1>OBB </h1>|<p> Digital Blood Bank</p></div>
    </div>

    <!-- Home button -->
        <div class="user">
            <p class="welcome">Welcome </p> <p class="header-nav-username">  <%= nameUserNav %> </p> 
        </div>
    </div>

    <div class="step-two-signup-container">
        
    </div>
<%- include('../partials/newsignupfooter'); -%>