<%- include('../partials/signuphead'); -%>

<!-- BODY -->
<div class="head-navbar">
    <div class="logo-container">
        <div class="header-image-conatainer"><img class="dbb-logo" src="/static/images/dbb logo v0.2.png"   alt="Digital blood bank logo"></div>
            <div class="header-website-name"><h1>OBB </h1>|<p> Digital Blood Bank</p></div>
    </div>

    <!-- Home button -->
        <div class="signup-header-home-btn">
            <a class="home" href="/"><i class="fas fa-home"></i>Home</a>
            <p>|</p>
            <a class="login" href="/user/login">Login</a>

        </div>
    </div>

<div class="signupform">
    <form id="signup" action='' method="">
        
            <h2>Sign Up</h2>
            <h6 id="email-validation-check"> <%= emailValidation %> </h6>
            <div class="signup-name">
                <p>
                    <label for="fname">First Name</label>
                    <input id="fname" name="fname" type="text" required>
                </p>
                <p>
                    <label for="lname" >Last Name</label>
                    <input id="lname" name="lname" type="text" required>
                </p>
            </div>
                  <p>
                      <label for="email" class="floatLabel">Email</label>
                      <input id="email" name="email" type="text" placeholder=" example@domain.com " required>
                      
                  </p>
                  <p>
                      <label for="password" class="floatLabel">Password</label>
                      <input id="password" name="password" type="password" placeholder="Minimum 8 and Maximum 32 " required>
                      <span id="password-validation-check"></span>
                  </p>
                  <p>
                      <label for="confirm_password" class="floatLabel">Confirm Password</label>
                      <input id="confirm_password" name="confirm_password" type="password" required>
                      <span id="password-not-matched"></span>
                  </p>
                  <!-- <p>
                    <button type="button" onclick="signupNext();">Next</button>
                </p> -->
                  <p>
                      <input id="submit" type="submit" value="Next Step">
                  </p>
                  <p class="already-a-member">
                      I already have an account: <a href="/user/login">Login</a>
                  </p>
    </form>
</div>



<%- include('../partials/signupfooter'); -%>