<div class="head-navbar">
    <div class="logo-container">
        <div class="header-image-conatainer"><img class="dbb-logo" src="/static/images/dbb logo v0.2.png"   alt="Digital blood bank logo"></div>
            <div class="header-website-name"><h1>OBB </h1>|<p> Digital Blood Bank</p></div>
    </div>

    <!-- login signup -->
    <div class="login-signup-container">
        <a class="login" href="/Login">Login</a>
        <p>or</p>
        <a class="signup" href="/signup">Signup</a>
    </div>
</div>


<div class="signupform">
    <form action="/signup" method="post">
        <div class="signup-h1"><h1>Signup Form</h1></div>
        
        <div class="signup-names">
            <label for="fname">First Name</label>
            <input type="text" name="fname">
        </div>
        
    </form>
</div>