<%- include('../partials/signuphead'); -%>

<!-- BODY -->
<div class="head-navbar">
    <div class="logo-container">
        <div class="header-image-conatainer"><img class="dbb-logo" src="/static/images/dbb logo v0.2.png"   alt="Digital blood bank logo"></div>
            <div class="header-website-name"><h1>OBB </h1>|<p> Digital Blood Bank</p></div>
    </div>

    <!-- Home button -->
        <div class="signup-header-home-btn">
            <a class="home" href="/"><i class="fal fa-home-alt"></i>Home</a>
            <p>|</p>
            <a class="login-btn" href="/user/login"><i class="fal fa-sign-in-alt"></i> Login</a>

        </div>
    </div>

<div class="signupform">
    <form id="signup" action='/user/signup' method="POST">
            <p class="goback">&lt; Back</p>
            <h2>Sign Up</h2>
            <div class="first-step"> 
            <h6 id="email-validation-check"> <%= emailValidation %> </h6>
            <div class="signup-name">
                <!-- <div class="err-msg">

                </div> -->
                <p>
                    <label for="fname">First Name</label>
                    <input id="fname" class="fname" name="fname" type="text" required>
                </p>
                <p>
                    <label for="lname" >Last Name</label>
                    <input id="lname" class="lname" name="lname" type="text" required>
                </p>
            </div>
                  <p>
                      <label for="email" class="floatLabel">Email</label>
                      <input id="email" class="email" name="email" type="text" placeholder=" name@domain.com " required>
                      
                  </p>
                  <p>
                      <label for="password" class="floatLabel">Password</label>
                      <input id="password" class="password" name="password" type="password" placeholder="Minimum 8 and Maximum 32 " required>
                      <span id="password-validation-check"></span>
                  </p>
                  <p>
                      <label for="confirm_password" class="floatLabel">Confirm Password</label>
                      <input id="confirm_password" class="confirm_password" name="confirm_password" type="password" required>
                      <span id="password-not-matched"></span>
                  </p>
                  <p class="checkbox-container">
                      <input type="checkbox" name="checkbox" id="checkbox"> <i class="iagree"> i agree with <a href="">terms and conditions</a> .</i>
                  </p>
                  <!-- <p>
                    <button type="button" onclick="signupNext();">Next</button>
                </p> -->
                  <p>
                      <input class="nextstep" id="nextstep" type="button" value="Next Step">
                  </p>
                  
                </div>


                  <div class="second-step">
                  <p>
                    <label for="blood_type">Blood type</label>
                    <input list="blood" name="bloodType" id="bloodType" placeholder="Your blood type">
                    <datalist id="blood">
                        <option value="A+">
                        <option value="A-">
                        <option value="B+">
                        <option value="B-">
                        <option value="O+">
                        <option value="O-">
                        <option value="AB+">
                        <option value="AB-">    
                    </datalist>
                </p>

                <p>
                    <label for="last_donnated">last donnated</label>
                    <input type="text" name="last_donnated" id="last_donnated" placeholder="01/01/2020">
                </p>

                <p id="address">
                <label for="st-address">Address</label>
                <input type="text" name="faddr" class="faddr" placeholder="Street Adress e.g. Street 53rd house no.12 ">
                <input type="text" name="laddr" class="laddr" placeholder="Second street address. (Optional)">
                <input type="text" name="city" class="city" placeholder="city name">
                <input type="text" name="country" class="country" placeholder="Country">
            </p>
            <p>
                <label for="contact">contact:</label>
                <input type="text" name="contact" id="contact" placeholder="it could start either with &lt;+92&gt; or &lt;03&gt;">
            </p>
            <p>
                <input type="submit" name="submit" id="submit">
            </p>
        </div>
        <p class="already-a-member">
            I already have an account: <a href="/user/login">Login</a>
        </p>
    </form>
</div>



<%- include('../partials/signupfooter'); -%>